<header class="site-header">

  <div class="wrapper">
</br>
    <a class="align-left-header" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <a class="align-right-header" href="/projects">projects</a>
    <a class="align-right-header" href="/posts">posts</a>
</div>
</br>
  <svg height="17" width="1200">
    <line x1="300" y1="16" x2="120000" y2="200" style="stroke:rgb(56,93,92);stroke-width:1" />
    <line x1="400" y1="1" x2="1200" y2="0" style="stroke:rgb(0,0,128);stroke-width:1" />
  </svg>
</br>

</header>
